.App {
  text-align: center;
}

.App-title {
  color: #000;
}

.cat-finder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  appearance: none;
  background-color: rebeccapurple;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  font-size: 24px;
  padding: 25px 55px;
  margin-bottom: 20px;
}